<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>Diário de tarefas</title>
  </head>

  <body style="background-color: #fdf0e0">
    <div class="d-flex justify-content-center">
      <a href="#">
        <img
          th:src="@{img/kanban-app-logo.png}"
          alt="Kanba app logo"
          style="height: 250px; width: 250px"
        />
      </a>
    </div>

    <div
      class="d-flex justify-content-center align-items-center"
      style="height: 50vh"
    >
      <form
        th:action="@{/editarCadastro}"
        th:method="post"
        class="col-md-6 col-lg-4 d-flex flex-wrap justify-content-between"
      >
        <div class="form-group">
          <label for="exampleInputEmail1">Editar email</label>
          <input
            type="email"
            th:name="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Digite seu email"
            th:text="${emailCadastrado}"
          />
          <small id="emailHelp" class="form-text text-muted"
            >Nunca compatilharemos seu email.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleInputUsername1">Editar nome de usuário</label>
          <input
            type="text"
            th:name="username"
            class="form-control"
            id="exampleInputUsername1"
            placeholder="Nome de usuário"
            th:value="${username}"
            pattern="[^ ]*"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputBirthdate1">Editar data de nascimento</label>
          <input
            type="date"
            th:name="birthdate"
            class="form-control"
            id="exampleInputBirthdate1"
            placeholder="Data de nascimento"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Editar senha</label>
          <input
            type="password"
            th:name="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Senha"
            required
          />
        </div>
        <button
          th:name="cadastro"
          type="submit"
          class="btn btn-primary"
          th:value="usuarioDesejaCadastro"
        >
          Avançar
        </button>
      </form>
    </div>
  </body>
</html>
